.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  margin-top: 75px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-image: url("../data/image.jpg"); */
}

.app-name {
  font-family: 'Josefin Sans';
  font-size: 50px;
  margin-bottom: 150px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#mark {
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.app-title {
  font-family: 'Fredoka One';
  font-size: 20px;
  text-align: center;
}

.selections {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#loop-button {
  margin-right: 20px;
}

.select-year {
  font-size: 15px;
}

.description {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description > p {
  font-family: 'Raleway';
  text-align: center;
  margin: 10px;
}

rect {
  fill: steelblue;
}

.graph-x-axis, .graph-y-axis  {
  font-size: 12px;
}

.x-axis-text {
  color: blue;
}

.info {
  padding: 10px;
  font-family: 'Josefin Sans';
  border: 1px solid black;
  border-radius: 1px;
  background-color: #14B8C4;
  color: black;
  cursor: pointer;
}

.info p {
  position: relative;
  padding: 5px;
} 